{{- if .Values.oauth2.enabled -}}
api:
  gateway:
    authentication: oauth2
{{ "" }}
{{- end }}
spring:
  {{- if .Values.oauth2.enabled }}
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: {{ required "Please specify oAuth2 URI in oauth2.resourceUri" .Values.oauth2.resourceUri }}
  {{- end }}
  cloud:
    gateway:
      routes:
        - id: alc_route
          predicates:
            - Path=/api/*/riskLimits/**, /api/*/riskLimitHistoryOfChanges/**
            - Method=GET
          uri: https://{{ required "ALC collect application service name has to be defined in routes.alcCollect.serviceName" .Values.routes.alcCollect.serviceName }}:{{ required "ALC collect application port number has to be defined in routes.alcCollect.servicePortNumber" .Values.routes.alcCollect.servicePortNumber }}
          filters:
            - TokenRelay
            - SaveSession
        - id: alc_route_old
          predicates:
            - Path=/alc-collect/**
          uri: https://{{ required "ALC collect application service name has to be defined in routes.alcCollect.serviceName" .Values.routes.alcCollect.serviceName }}:{{ required "ALC collect application port number has to be defined in routes.alcCollect.servicePortNumber" .Values.routes.alcCollect.servicePortNumber }}
          filters:
            - StripPrefix=1
            - TokenRelay
            - SaveSession
        - id: auth-limit-control_route
          predicates:
            - Path=/api/*/authLimitControl/**
          uri: https://{{ required "Auth limit control application service name has to be defined in routes.authLimitControl.serviceName" .Values.routes.authLimitControl.serviceName }}:{{ required "Auth limit control application port number has to be defined in routes.authLimitControl.servicePortNumber" .Values.routes.authLimitControl.servicePortNumber }}
          filters:
            - TokenRelay
            - SaveSession
        - id: auth-limit-control_route_old
          predicates:
            - Path=/auth-limit-control/**
          uri: https://{{ required "Auth limit control application service name has to be defined in routes.authLimitControl.serviceName" .Values.routes.authLimitControl.serviceName }}:{{ required "Auth limit control application port number has to be defined in routes.authLimitControl.servicePortNumber" .Values.routes.authLimitControl.servicePortNumber }}
          filters:
            - StripPrefix=1
            - TokenRelay
            - SaveSession
        - id: person-structure-ms_route
          predicates:
            - Path=/api/*/riskLimits/**, /api/*/customerControlsLimits/**
            - Method=POST
          uri: https://{{ required "Person structure application service name has to be defined in routes.personStructure.serviceName" .Values.routes.personStructure.serviceName }}:{{ required "Person structure application port number has to be defined in routes.personStructure.servicePortNumber" .Values.routes.personStructure.servicePortNumber }}
          filters:
            - TokenRelay
            - SaveSession
        - id: person-structure-ms_route_old
          predicates:
            - Path=/person-structure/**
          uri: https://{{ required "Person structure application service name has to be defined in routes.personStructure.serviceName" .Values.routes.personStructure.serviceName }}:{{ required "Person structure application port number has to be defined in routes.personStructure.servicePortNumber" .Values.routes.personStructure.servicePortNumber }}
          filters:
            - StripPrefix=1
            - TokenRelay
            - SaveSession
        - id: person-registry-ms_route
          predicates:
            - Path=/api/*/personRegistry/**
          uri: https://{{ required "Person registry application service name has to be defined in routes.personRegistry.serviceName" .Values.routes.personRegistry.serviceName }}:{{ required "Person structure application port number has to be defined in routes.personRegistry.servicePortNumber" .Values.routes.personRegistry.servicePortNumber }}
          filters:
            - TokenRelay
            - SaveSession
        - id: payment-order-ms_route
          predicates:
            - Path=/api/*/paymentOrder/**, /api/job/start/**
          uri: https://{{ required "Payment order application service name has to be defined in routes.paymentOrder.serviceName" .Values.routes.paymentOrder.serviceName }}:{{ required "Payment order application port number has to be defined in routes.paymentOrder.servicePortNumber" .Values.routes.paymentOrder.servicePortNumber }}
          filters:
            - TokenRelay
            - SaveSession
        - id: nks-inst-ms_route
          predicates:
            - Path=/nksInst/api/msg/*, /nksInst/api/info, /api/msg/*, /api/info
          uri: https://{{ required "Sepa Inst application service name has to be defined in routes.sepaInst.serviceName" .Values.routes.sepaInst.serviceName }}:{{ required "Sepa Inst application port number has to be defined in routes.sepaInst.servicePortNumber" .Values.routes.sepaInst.servicePortNumber }}
          filters:
            - TokenRelay
            - SaveSession
            - RewritePath=/?.*/api/(?<segment>.*),/api/$\{segment}
            - PrefixPath=/sepaInst
        - id: person-registry-web_route
          predicates:
            - Path=/**
          uri: https://{{ required "Person registry application service name has to be defined in routes.personRegistryWeb.serviceName" .Values.routes.personRegistryWeb.serviceName }}:{{ required "Person structure application port number has to be defined in routes.personRegistryWeb.servicePortNumber" .Values.routes.personRegistryWeb.servicePortNumber }}
          filters:
            - TokenRelay
            - SaveSession
