<configuration>

{{- with .Values.logger }}

    <variable name="DEF_PATTERN" value="[%d] %p %c{1} %msg%n" />
    {{- if .logToFile }}
    <variable name="HEALTH_PATTERN" value="%msg%n" />
    <variable name="LOG_FOLDER" value="{{ .logDir }}" />
    {{- end }}

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${DEF_PATTERN}</pattern>
        </encoder>
    </appender>

    {{- if .logToFile }}
    
    <appender name="application" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FOLDER}/messages.log</file>
        <encoder>
            <pattern>${DEF_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="accessLog" class="ch.qos.logback.core.FileAppender">
        <filter class="hr.vestigo.apigateway.logging.HttpAccessLogHealthRemoveFilter" />
        <file>${LOG_FOLDER}/access.log</file>
        <encoder>
            <pattern>${HEALTH_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="accessLog" />
    </appender>

    <appender name="healthAccessLog" class="ch.qos.logback.core.FileAppender">
        <filter class="hr.vestigo.apigateway.logging.HttpAccessLogHealthOnlyFilter" />
        <file>${LOG_FOLDER}/health.log</file>
        <encoder>
            <pattern>${HEALTH_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="healthAsync" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="healthAccessLog" />
    </appender>

    <logger name="reactor.netty.http.server.AccessLog" level={{ required "Please specify log level in logger.globalLogLevel. Possible values: TRACE, DEBUG, INFO, WARN, ERROR" .globalLogLevel | upper | quote }} additivity="false">
        <appender-ref ref="async" />
        <appender-ref ref="healthAsync" />
    </logger>

    {{- else }}

    <logger name="reactor.netty.http.server.AccessLog" level={{ required "Please specify log level in logger.globalLogLevel. Possible values: TRACE, DEBUG, INFO, WARN, ERROR" .globalLogLevel | upper | quote }} additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    {{- end }}

    <logger name="hr.vestigo.apigateway.logging.RequestAndResponseLoggingFilter" level="INFO" additivity="false" >
        {{- if .logToFile }}
        <appender-ref ref="application" />
        {{- end }}
        <appender-ref ref="STDOUT" />
    </logger>

    <root additivity="false" level={{ required "Please specify log level in logger.globalLogLevel. Possible values: TRACE, DEBUG, INFO, WARN, ERROR" .globalLogLevel | upper | quote }} >
        {{- if .logToFile }}
        <appender-ref ref="application" />
        {{- end }}
        <appender-ref ref="STDOUT" />
    </root>

{{- end }}

</configuration>