nameOverride: ''
image:
  registry: docker.io
  pullPolicy: IfNotPresent
  app:
    registry: null
    imageLocation: null
    tag: ''
    pullPolicy: null
  liquibase:
    registry: null
    imageLocation: null
    tag: 2.28.0
    pullPolicy: null
imagePullSecrets: []
env:
  type: ''
  label: ''
datasource:
  host: ''
  port: ''
  dbName: ''
  user: ''
  globalSchemaPrefix: wo
  connTimeout: 60000
  maxPoolSize: 2
  minIdle: 0
  idleTimeout: 120000
  connectionParams: {}
liquibase:
  enabled: true
  syncOnly: false
  user: ''
  role: ''
  replicationRole: ''
  resources: {}
members:
- businessUnit: ''
  applicationMember: ''
  memberSign: ''
  liquibase:
    role: ''
    replicationRole: ''
  datasource:
    globalSchema: false
    host: ''
    port: ''
    dbName: ''
    user: ''
    password: ''
kafka:
  user: ''
  servers: ''
  saslMechanism: PLAIN
  securityProtocol: SASL_SSL
  sslEndpointIdentAlg: HTTPS
  schemaRegistry:
    credSource: USER_INFO
    user: ''
    url: ''
  topics:
    paymentorderflow:
      name: hr.vestigo.hp.paymentorderflow
      consumerGroup: hr.vestigo.hp.sepins.paymentorderflow
      concurrency: 1
    originalpaymentmessage:
      name: hr.vestigo.hp.originalpaymentmessage
    paymentordereventin:
      name: hr.vestigo.hp.paymentordereventin
    paymentorderincoming:
      name: hr.vestigo.hp.paymentorderincoming
    paymentordereventflow:
      name: hr.vestigo.hp.paymentordereventflow
      consumerGroup: hr.vestigo.hp.paymentordereventflow
      concurrency: 1
    sepainstmsgcheck:
      name: hr.vestigo.hp.sepainstmsgcheck
      consumerGroup: hr.vestigo.hp.sepainstmsgcheck
      concurrency: 1
    alertTopic:
      name: hr.vestigo.hp.alert
  consumer:
    brBackOff: 3;0.1s
    properties:
      sessionTimeoutMs: 45000
      heartbeatIntervalMs: 3000
      maxPollRecords: 500
      maxPollIntervalMs: 300000
csm:
  id: NKS9999998
  bic: FNAGHR22
  url: ''
  msgPath: /instant-core/api/msg
  info: ''
  xsdCheck: inout
  msgSignature: inout
  msgSignatureAlgorithm: SHA256withRSA
  connectionTimeout: 30s
  connectionTimeoutRetry: 0;0s
  connectionTimeoutMsgReject: true
  responseTimeout: 60s
  responseTimeoutRetry: 0;0s
  responseTimeoutMsgSent: true
  toManyRequestsRetry: 0;0s
  toManyRequestsMsgReject: false
  maxConnections: 500
  config:
    camt_025:
      xsdCheck: inherit
      saveNoOriginal: false
    camt_029:
      xsdCheck: inherit
      saveNoOriginal: false
    camt_050:
      xsdCheck: inherit
      saveNoOriginal: false
    camt_054:
      xsdCheck: inherit
      saveNoOriginal: true
    camt_056:
      xsdCheck: inherit
      responseMsgRetry: 3;0.1s
      saveNoOriginal: true
    izvj:
      xsdCheck: inherit
    liq_req:
      xsdCheck: inherit
    liq_sts:
      xsdCheck: inherit
      saveNoOriginal: false
    pacs_002_negative:
      xsdCheck: inherit
      responseMsgRetry: 3;0.1s
      requestIdempotence: false
    pacs_002_positive:
      xsdCheck: inherit
      requestMsgRetry: 10;5s
      responseMsgTimeout: 25s
      requestIdempotence: false
    pacs_002_nksinst:
      xsdCheck: inherit
      responseMsgRetry: 3;0.1s
      temporaryStatusReasons: RJ02,9999
    pacs_004:
      xsdCheck: inherit
    pacs_008:
      xsdCheck: inherit
      requestMsgTimeout: 0s
      responseMsgTimeout: 25s
      responseMsgPendingTimeout: 0s
      processingTimeout: 0ms
      requestIdempotence: false
    pacs_028:
      xsdCheck: inherit
      requestMsgRetry: 10;5s
    pacs_028_056:
      xsdCheck: inherit
      responseMsgRetry: 3;0.1s
    req_tech_ack:
      xsdCheck: inherit
    tech_ack:
      xsdCheck: inherit
  format:
    dateFormat: yyyy-MM-dd
    timeFormat: HH:mm:ss
    dateTimeFormat: yyyy-MM-dd'T'HH:mm:ss.SSS
    dateTimeOffsetFormat: yyyy-MM-dd'T'HH:mm:ss.SSSXXX
  stats:
    enabled: false
    minInterval: 5s
    strict: true
  queue:
    enabled: false
    priorityThreshold: 1
    notPrioritized: false
    pollSize: 1
    pollMaxSize: 4
    pollIntervalDelay: 5s
    pollInterval: 10s
    pollIntervalFixedRate: false
    pollCron: ''
    pollTimeout: 1s
    pollMaxMessages: 1
    processInterval: 10s
    processRetry: 3
    processStrict: true
oauth2:
  enabled: false
  resourceUri: ''
  authorizationPrefix: ''
request:
  maxHttpRequestHeaderSize: 64KB
  sanitization:
    enabled: true
response:
  encoding:
    enabled: false
timezone: ''
secret:
  decryptionKey: ''
  datasourcePassword: ''
  kafkaPassword: ''
  kafkaSchemaRegistryPassword: ''
  liquibasePassword: ''
  trustStorePassword: ''
  keyStorePassword: ''
  keyStoreSignaturePassword: ''
  existingSecret: ''
logger:
  format: STRING
  level:
    kafka: INFO
    kafkaCore: INFO
    rest: INFO
    database: INFO
    databaseSql: INFO
    databaseBind: INFO
    databaseExtract: INFO
    databaseSlowQuery: INFO
    businessLogic: INFO
    businessTimeout: INFO
    health: INFO
    general: INFO
  logToFile: false
  rollingFileAppender: false
  logDir: /var/log/app
  logDirMount:
    enabled: false
    spec:
      emptyDir: {}
  microserviceTag: SEPINS
  maskSensitive: false
  databaseSlowQueryThreshold: 0
healthStatusDownReturnCode: '418'
javaOpts: -Xms256M -Xmx512M
podAnnotations: {}
deploymentAnnotations: {}
serviceAnnotations: {}
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
securityContext: {}
service:
  enabled: true
  type: ClusterIP
  port: 8443
  nodePort: ''
  clusterIP: ''
  loadBalancerIP: ''
  loadBalancerSourceRanges: []
  annotations: {}
  labels: {}
ingress:
  enabled: false
  className: ''
  annotations: {}
  hosts: []
  tls: []
resources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 50m
    memory: 256Mi
initContainers: []
nodeSelector: {}
tolerations: []
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/arch
          operator: In
          values:
          - amd64
        - key: kubernetes.io/os
          operator: In
          values:
          - linux
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: app
            operator: In
            values:
            - sepa-inst
        topologyKey: kubernetes.io/hostname
deployment:
  replicaCount: 1
  annotations: {}
  labels: {}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 60
  terminationGracePeriodSeconds: 60
  restartPolicy: Always
  readinessProbe:
    initialDelaySeconds: 0
    periodSeconds: 60
    timeoutSeconds: 10
    successThreshold: 1
    failureThreshold: 2
    httpGet:
      path: /health/readiness
      port: http
      scheme: HTTPS
  livenessProbe:
    initialDelaySeconds: 0
    periodSeconds: 60
    timeoutSeconds: 10
    failureThreshold: 3
    httpGet:
      path: /health/liveness
      port: http
      scheme: HTTPS
  startupProbe:
    initialDelaySeconds: 30
    periodSeconds: 5
    timeoutSeconds: 1
    failureThreshold: 60
    httpGet:
      path: /health/liveness
      port: http
      scheme: HTTPS
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
vpa:
  enabled: false
  updateMode: 'Off'
mountServerCertFromSecret:
  enabled: false
  secretName: ''
  certPath: ''
  keyPath: ''
mountKeyStoreFromSecret:
  enabled: false
  secretName: ''
  keyStoreName: ''
  keyStoreType: JKS
mountKeyStoreSignatureFromSecret:
  enabled: false
  secretName: ''
  keyStoreName: ''
  keyStoreType: JKS
mountTrustStoreFromSecret:
  enabled: false
  secretName: ''
  trustStoreName: ''
  trustStoreType: JKS
mountCaFromSecret:
  enabled: false
  secretName: ''
customVolumes: []
customMounts: []
customEnv: []
tracing:
  enabled: false
  samplingProbability: 0.0
  otlpEndpoint: ''
alert:
  communication:
    type: skip
prometheus:
  exposed: true
metrics:
  jvm: true
  httpClientRequests: true
  executor: true
  jdbcConnections: true
