nameOverride: ''
image:
  registry: docker.io
  pullPolicy: IfNotPresent
  app:
    registry: null
    imageLocation: null
    tag: ''
    pullPolicy: null
  liquibase:
    registry: null
    imageLocation: null
    tag: 3.3.0
    pullPolicy: null
imagePullSecrets: []
env:
  type: ''
  label: ''
datasource:
  host: ''
  port: ''
  dbName: ''
  user: ''
  globalSchemaPrefix: wo
  connTimeout: 60000
  maxPoolSize: 2
  minIdle: 0
  idleTimeout: 120000
  connectionParams: {}
liquibase:
  enabled: true
  syncOnly: false
  user: ''
  role: ''
  replicationRole: ''
  resources: {}
members:
- businessUnit: ''
  applicationMember: ''
  memberSign: ''
  liquibase:
    role: ''
    replicationRole: ''
  datasource:
    globalSchema: false
    host: ''
    port: ''
    dbName: ''
    user: ''
    password: ''
kafka:
  user: ''
  servers: ''
  saslMechanism: PLAIN
  securityProtocol: SASL_SSL
  autoOffsetReset: earliest
  sslEndpointIdentAlg: HTTPS
  schemaRegistry:
    credSource: USER_INFO
    user: ''
    url: ''
  topics:
    risklimitdef:
      name: hr.vestigo.hp.risklimitdef
      consumerGroup: hr.vestigo.hp.risklimitdef
    risklimitdef1m:
      name: hr.vestigo.hp.risklimitdef1m
      consumerGroup: hr.vestigo.hp.risklimitdef1m
      counter: '5'
    risklimitdef1h:
      name: hr.vestigo.hp.risklimitdef1h
      consumerGroup: hr.vestigo.hp.risklimitdef1h
    matchedauth:
      name: hr.vestigo.hp.matchedauth
    crdauthtrxmatch:
      name: hr.vestigo.hp.crdauthtrxmatch
      consumerGroup: hr.vestigo.hp.crdauthtrxmatch
    scadfile:
      name: hr.vestigo.hp.scadfile
      consumerGroup: hr.vestigo.hp.scadfile
    expiredauth:
      name: hr.vestigo.hp.expiredauth
    card:
      name: hr.vestigo.hp.card
      consumerGroup: hr.vestigo.hp.card
    crdintacc:
      name: hr.vestigo.hp.crdintacc
      consumerGroup: hr.vestigo.hp.crdintacc
    customeraccount:
      name: hr.vestigo.hp.customeraccount
      consumerGroup: hr.vestigo.hp.customeraccount
    personstructure:
      name: hr.vestigo.hp.perstrucinitial.cms
cms:
  url: ''
  wsCode: WS2I86
  moduleName: CMSINT
  deliveryChannel: HP
  userId: HPTECH001
  basicAuth:
    enabled: false
    username: ''
  cdc:
    moduleName: BOS
    deliveryChannel: DCC
    userId: HPTECH001
request:
  sanitization:
    enabled: true
response:
  encoding:
    enabled: false
timezone: ''
secret:
  decryptionKey: ''
  kafkaPassword: ''
  kafkaSchemaRegistryPassword: ''
  liquibasePassword: ''
  trustStorePassword: ''
  keyStorePassword: ''
  cmsRestPassword: ''
logger:
  level:
    kafka: DEBUG
    rest: DEBUG
    database: DEBUG
    businessLogic: DEBUG
    general: DEBUG
    health: DEBUG
  logToFile: false
  rollingFileAppender: false
  logDir: /var/log/app
  logDirMount:
    enabled: false
  microserviceTag: ''
healthStatusDownReturnCode: '418'
javaOpts: -Xms256M -Xmx256M
springActiveProfile: prod
podAnnotations: {}
deploymentAnnotations: {}
serviceAnnotations: {}
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
securityContext: {}
service:
  enabled: true
  type: ClusterIP
  port: 8443
  nodePort: ''
  clusterIP: ''
  loadBalancerIP: ''
  loadBalancerSourceRanges: []
  annotations: {}
  labels: {}
ingress:
  enabled: false
  className: ''
  annotations: {}
  hosts: []
  tls: []
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 50m
    memory: 256Mi
initContainers: []
nodeSelector: {}
tolerations: []
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/arch
          operator: In
          values:
          - amd64
        - key: kubernetes.io/os
          operator: In
          values:
          - linux
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: app
            operator: In
            values:
            - cms-interface
        topologyKey: kubernetes.io/hostname
deployment:
  replicaCount: 1
  annotations: {}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 60
  terminationGracePeriodSeconds: 60
  restartPolicy: Always
  readinessProbe:
    initialDelaySeconds: 10
    periodSeconds: 60
    timeoutSeconds: 181
    successThreshold: 1
    failureThreshold: 2
    httpGet:
      path: /health/readiness
      port: http
      scheme: HTTPS
  livenessProbe:
    initialDelaySeconds: 60
    periodSeconds: 60
    timeoutSeconds: 10
    failureThreshold: 3
    httpGet:
      path: /health/liveness
      port: http
      scheme: HTTPS
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
mountServerCertFromSecret:
  enabled: false
  secretName: ''
  certPath: ''
  keyPath: ''
mountKeyStoreFromSecret:
  enabled: false
  secretName: ''
  keyStoreName: ''
  keyStoreType: JKS
mountTrustStoreFromSecret:
  enabled: false
  secretName: ''
  trustStoreName: ''
  trustStoreType: JKS
mountCaFromSecret:
  enabled: false
  secretName: ''
customVolumes: []
customMounts: []
customEnv: []
