nameOverride: ''
image:
  registry: docker.io
  pullPolicy: IfNotPresent
  app:
    registry: null
    imageLocation: null
    tag: ''
    pullPolicy: null
  liquibase:
    registry: null
    imageLocation: null
    tag: 1.71.0
    pullPolicy: null
imagePullSecrets: []
env:
  type: ''
  label: ''
datasource:
  host: ''
  port: ''
  dbName: ''
  user: ''
  globalSchemaPrefix: wo
  connTimeout: 60000
  maxPoolSize: 2
  minIdle: 0
  idleTimeout: 120000
  connectionParams: {}
liquibase:
  enabled: true
  syncOnly: false
  user: ''
  role: ''
  replicationRole: ''
  resources: {}
members:
- businessUnit: ''
  applicationMember: ''
  memberSign: ''
  liquibase:
    role: ''
    replicationRole: ''
  datasource:
    globalSchema: false
    host: ''
    port: ''
    dbName: ''
    user: ''
    password: ''
kafka:
  user: ''
  servers: ''
  saslMechanism: PLAIN
  securityProtocol: SASL_SSL
  sslEndpointIdentAlg: HTTPS
  schemaRegistry:
    credSource: USER_INFO
    user: ''
    url: ''
  topics:
    swiftincomingmessage:
      name: hr.vestigo.hp.swiftincomingmessage
      consumerGroup: hr.vestigo.hp.swiftincomingmessage
      enabled: true
      nbrEnabled: true
      nbrBackOff: 50000;5s
      nbrName: ''
      dltName: ''
      concurrency: 1
    swiftoutgoingmessage:
      name: hr.vestigo.hp.swiftoutgoingmessage
      enabled: true
    paymentfinmessage:
      name: hr.vestigo.hp.paymentfinmessage
      consumerGroup: hr.vestigo.hp.paymentfinmessage
      enabled: true
    paymentnonfinmessage:
      name: hr.vestigo.hp.paymentnonfinmessage
      consumerGroup: hr.vestigo.hp.paymentnonfinmessage
      enabled: true
    paymentxmlmessage:
      name: hr.vestigo.hp.paymentxmlmessage
      consumerGroup: hr.vestigo.hp.paymentxmlmessage
      enabled: true
    paymentinitmessage:
      name: hr.vestigo.hp.paymentinitmessage
      consumerGroup: hr.vestigo.hp.paymentinitmessage
      enabled: true
    swiftpaymentrequest:
      name: hr.vestigo.hp.swiftpaymentrequest
      consumerGroup: hr.vestigo.hp.swiftpaymentrequest
      enabled: true
      nbrEnabled: true
      nbrBackOff: 50000;5s
      nbrName: ''
      dltName: ''
      concurrency: 1
    swiftpaymentchargesrequest:
      name: hr.vestigo.hp.swiftpaymentchargesrequest
      consumerGroup: hr.vestigo.hp.swiftpaymentchargesrequest
      enabled: true
      nbrEnabled: true
      nbrBackOff: 50000;5s
      nbrName: ''
      dltName: ''
      concurrency: 1
    swiftcustomerpaymentstatusreport:
      name: hr.vestigo.hp.swiftcustomerpaymentstatusreport
      consumerGroup: hr.vestigo.hp.swiftcustomerpaymentstatusreport
      enabled: true
      nbrEnabled: true
      nbrBackOff: 50000;5s
      nbrName: ''
      dltName: ''
      concurrency: 1
    swiftpaymentstatusreport:
      name: hr.vestigo.hp.swiftpaymentstatusreport
      consumerGroup: hr.vestigo.hp.swiftpaymentstatusreport
      enabled: true
      nbrEnabled: true
      nbrBackOff: 50000;5s
      nbrName: ''
      dltName: ''
      concurrency: 1
    swiftpaymentcancellationrequest:
      name: hr.vestigo.hp.swiftpaymentcancellationrequest
      consumerGroup: hr.vestigo.hp.swiftpaymentcancellationrequest
      enabled: true
      nbrEnabled: true
      nbrBackOff: 50000;5s
      nbrName: ''
      dltName: ''
      concurrency: 1
    swiftresolutionofinvestigation:
      name: hr.vestigo.hp.swiftresolutionofinvestigation
      consumerGroup: hr.vestigo.hp.swiftresolutionofinvestigation
      enabled: true
      nbrEnabled: true
      nbrBackOff: 50000;5s
      nbrName: ''
      dltName: ''
      concurrency: 1
    alertTopic:
      name: hr.vestigo.hp.alert
  consumer:
    brBackOff: 3;0.1s
    properties:
      sessionTimeoutMs: 45000
      heartbeatIntervalMs: 3000
      maxPollRecords: 500
      maxPollIntervalMs: 300000
oauth2:
  enabled: false
  resourceUri: ''
  authorizationPrefix: ''
request:
  sanitization:
    enabled: true
response:
  encoding:
    enabled: false
timezone: ''
secret:
  existingSecret: ''
  decryptionKey: ''
  datasourcePassword: ''
  kafkaPassword: ''
  kafkaSchemaRegistryPassword: ''
  liquibasePassword: ''
  trustStorePassword: ''
  keyStorePassword: ''
logger:
  format: STRING
  level:
    health: INFO
    kafka: INFO
    kafkaCore: INFO
    rest: INFO
    database: INFO
    businessLogic: INFO
    general: INFO
  logToFile: false
  rollingFileAppender: false
  logDir: /var/log/app
  logDirMount:
    enabled: false
    spec:
      emptyDir: {}
  microserviceTag: SWIFTX
  maskSensitive: true
healthStatusDownReturnCode: '418'
javaOpts: -Xms256M -Xmx256M
podAnnotations: {}
deploymentAnnotations: {}
serviceAnnotations: {}
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
securityContext: {}
service:
  enabled: true
  type: ClusterIP
  port: 8443
  nodePort: ''
  clusterIP: ''
  loadBalancerIP: ''
  loadBalancerSourceRanges: []
  annotations: {}
  labels: {}
ingress:
  enabled: false
  className: ''
  annotations: {}
  hosts: []
  tls: []
resources:
  limits:
    cpu: 500m
    memory: 768Mi
  requests:
    cpu: 50m
    memory: 768Mi
initContainers: []
nodeSelector: {}
tolerations: []
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/arch
          operator: In
          values:
          - amd64
        - key: kubernetes.io/os
          operator: In
          values:
          - linux
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: app
            operator: In
            values:
            - swift-mx
        topologyKey: kubernetes.io/hostname
deployment:
  replicaCount: 1
  annotations: {}
  labels: {}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 60
  terminationGracePeriodSeconds: 60
  restartPolicy: Always
  readinessProbe:
    initialDelaySeconds: 0
    periodSeconds: 60
    timeoutSeconds: 10
    successThreshold: 1
    failureThreshold: 2
    httpGet:
      path: /health/readiness
      port: http
      scheme: HTTPS
  livenessProbe:
    initialDelaySeconds: 0
    periodSeconds: 60
    timeoutSeconds: 10
    failureThreshold: 3
    httpGet:
      path: /health/liveness
      port: http
      scheme: HTTPS
  startupProbe:
    initialDelaySeconds: 30
    periodSeconds: 5
    timeoutSeconds: 1
    failureThreshold: 60
    httpGet:
      path: /health/liveness
      port: http
      scheme: HTTPS
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
vpa:
  enabled: false
  updateMode: 'Off'
mountServerCertFromSecret:
  enabled: false
  secretName: ''
  certPath: ''
  keyPath: ''
mountKeyStoreFromSecret:
  enabled: false
  secretName: ''
  keyStoreName: ''
  keyStoreType: JKS
mountTrustStoreFromSecret:
  enabled: false
  secretName: ''
  trustStoreName: ''
  trustStoreType: JKS
mountCaFromSecret:
  enabled: false
  secretName: ''
customVolumes: []
customMounts: []
customEnv: []
prometheus:
  exposed: true
metrics:
  jvm: true
  executor: true
  jdbcConnections: true
tracing:
  enabled: false
  samplingProbability: 0.0
  otlpEndpoint: ''
application:
  api:
    validation:
      xsdModeIn: mix
      xsdModeOut: mix
    format:
      timestampOut: yyyy-MM-dd'T'HH:mm:ss.SSSxxx
      xmlModeOut: saa
      xmlFormat: compact
    event:
      xmlIn:
        enabled: true
      xmlOut:
        enabled: true
      finIn:
        enabled: true
        overrides:
          pacs.004: NORES,COVE
      nonFinIn:
        enabled: true
        overrides:
          pacs.002: NORES,!RJCT
          camt.029: NORES,PDCR
  data:
    caching:
      expire: 12h
    eventsLog:
      enabled: false
      partitionsEnabled: false
  integration:
    file:
      readEnabled: false
      readPath: /swiftx/in
      readInterval: 5s
      readIntervalMax: 1
      readFilePrefixEnabled: true
      readRejectDuplicate: true
      writeEnabled: false
      writePath: /swiftx/out
      writeSubPath: '{date}'
      writeInterval: 5s
      writeMode: pull
      writeFileEventEnabled: false
      writeFileMarkerEventEnabled: false
      writeFileXmlFormat: readable
  alert:
    communication:
      type: skip
applicationFileVolumes:
  readVolumeParameters: {}
  writeVolumeParameters: {}
