nameOverride: ''
image:
  registry: docker.io
  pullPolicy: IfNotPresent
  app:
    registry: null
    imageLocation: null
    tag: ''
    pullPolicy: null
  liquibase:
    registry: null
    imageLocation: null
    tag: 4.7.0
    pullPolicy: null
imagePullSecrets: []
env:
  type: ''
  label: ''
datasource:
  host: ''
  port: ''
  dbName: ''
  user: ''
  globalSchemaPrefix: wo
  connTimeout: 60000
  maxPoolSize: 2
  minIdle: 0
  idleTimeout: 120000
  connectionParams: {}
liquibase:
  enabled: true
  syncOnly: false
  user: ''
  role: ''
  replicationRole: ''
  resources: {}
members:
- businessUnit: ''
  applicationMember: ''
  memberSign: ''
  liquibase:
    role: ''
    replicationRole: ''
  datasource:
    globalSchema: false
    host: ''
    port: ''
    dbName: ''
    user: ''
    password: ''
kafka:
  user: ''
  servers: ''
  saslMechanism: PLAIN
  securityProtocol: SASL_SSL
  autoOffsetReset: earliest
  sslEndpointIdentAlg: HTTPS
  schemaRegistry:
    credSource: USER_INFO
    user: ''
    url: ''
  topics:
    cobaffschema:
      name: hr.vestigo.hp.cobaffschema
      consumerGroup: hr.vestigo.hp.cobaffschema.profac
    cobaffschgatewayparams:
      name: hr.vestigo.hp.cobaffschgatewayparams
      consumerGroup: hr.vestigo.hp.cobaffschgatewayparams.profac
    cobaffschlimit:
      name: hr.vestigo.hp.cobaffschlimit
      consumerGroup: hr.vestigo.hp.cobaffschlimit.profac
    crdintacctype:
      name: hr.vestigo.hp.crdintacctype
      consumerGroup: hr.vestigo.hp.crdintacctype.profac
    country:
      name: hr.vestigo.hp.country
      consumerGroup: hr.vestigo.hp.country.profac
    currency:
      name: hr.vestigo.hp.currency
      consumerGroup: hr.vestigo.hp.currency.profac
    parameterization:
      name: hr.vestigo.hp.parameterization
    financiallimittype:
      name: hr.vestigo.hp.financiallimittype
      consumerGroup: hr.vestigo.hp.financiallimittype.profac
    sirius:
      bankproducttype:
        name: hr.vestigo.hp.bankproducttype.sirspec
        consumerGroup: hr.vestigo.hp.bankproducttype.sirspec
      purposesubtype:
        name: hr.vestigo.hp.purposesubtype.sirspec
        consumerGroup: hr.vestigo.hp.purposesubtype.sirspec
      country:
        name: hr.vestigo.hp.country.sirspec
        consumerGroup: hr.vestigo.hp.country.sirspec
      currency:
        name: hr.vestigo.hp.currency.sirspec
        consumerGroup: hr.vestigo.hp.currency.sirspec
      bptstatussch:
        name: hr.vestigo.hp.bptstatussch.sirspec
        consumerGroup: hr.vestigo.hp.bptstatussch.sirspec
      calendar:
        name: hr.vestigo.hp.calendar.sirspec
        consumerGroup: hr.vestigo.hp.calendar.sirspec
      calendaritem:
        name: hr.vestigo.hp.calendaritem.sirspec
        consumerGroup: hr.vestigo.hp.calendaritem.sirspec
      clearingsysreg:
        name: hr.vestigo.hp.clearingsysreg.sirspec
        consumerGroup: hr.vestigo.hp.clearingsysreg.sirspec
productFactory:
  cobaffschema:
    enabled: true
  cobaffschemagatewayparams:
    enabled: true
  cobaffschemalimit:
    enabled: true
  financiallimittype:
    enabled: true
  country:
    enabled: true
  currency:
    enabled: true
  crdintacctype:
    enabled: true
  calendar:
    enabled: true
  calendarItem:
    enabled: true
  clearingsysreg:
    enabled: true
request:
  sanitization:
    enabled: true
response:
  encoding:
    enabled: false
timezone: ''
secret:
  decryptionKey: ''
  datasourcePassword: ''
  kafkaPassword: ''
  kafkaSchemaRegistryPassword: ''
  liquibasePassword: ''
  trustStorePassword: ''
  keyStorePassword: ''
logger:
  level:
    kafka: DEBUG
    rest: DEBUG
    database: DEBUG
    businessLogic: DEBUG
    general: DEBUG
    health: DEBUG
  logToFile: false
  rollingFileAppender: false
  logDir: /var/log/app
  logDirMount:
    enabled: false
  microserviceTag: ''
healthStatusDownReturnCode: '418'
javaOpts: -Xms256M -Xmx256M
springActiveProfile: prod
podAnnotations: {}
deploymentAnnotations: {}
serviceAnnotations: {}
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
securityContext: {}
service:
  enabled: true
  type: ClusterIP
  port: 8443
  nodePort: ''
  clusterIP: ''
  loadBalancerIP: ''
  loadBalancerSourceRanges: []
  annotations: {}
  labels: {}
ingress:
  enabled: false
  className: ''
  annotations: {}
  hosts: []
  tls: []
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 50m
    memory: 256Mi
initContainers: []
nodeSelector: {}
tolerations: []
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/arch
          operator: In
          values:
          - amd64
        - key: kubernetes.io/os
          operator: In
          values:
          - linux
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: app
            operator: In
            values:
            - product-factory
        topologyKey: kubernetes.io/hostname
deployment:
  replicaCount: 1
  annotations: {}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 60
  terminationGracePeriodSeconds: 60
  restartPolicy: Always
  readinessProbe:
    initialDelaySeconds: 10
    periodSeconds: 60
    timeoutSeconds: 10
    successThreshold: 1
    failureThreshold: 2
    httpGet:
      path: /health/readiness
      port: http
      scheme: HTTPS
  livenessProbe:
    initialDelaySeconds: 60
    periodSeconds: 60
    timeoutSeconds: 10
    failureThreshold: 3
    httpGet:
      path: /health/liveness
      port: http
      scheme: HTTPS
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
mountServerCertFromSecret:
  enabled: false
  secretName: ''
  certPath: ''
  keyPath: ''
mountKeyStoreFromSecret:
  enabled: false
  secretName: ''
  keyStoreName: ''
  keyStoreType: JKS
mountTrustStoreFromSecret:
  enabled: false
  secretName: ''
  trustStoreName: ''
  trustStoreType: JKS
mountCaFromSecret:
  enabled: false
  secretName: ''
customVolumes: []
customMounts: []
customEnv: []
