nameOverride: ''
image:
  registry: docker.io
  pullPolicy: IfNotPresent
  app:
    registry: null
    imageLocation: null
    tag: ''
    pullPolicy: null
  liquibase:
    registry: null
    imageLocation: null
    tag: 2.94.2
    pullPolicy: null
imagePullSecrets: []
env:
  type: ''
  label: ''
datasource:
  host: ''
  port: ''
  dbName: ''
  user: ''
  globalSchemaPrefix: wo
  connTimeout: 60000
  maxPoolSize: 2
  minIdle: 0
  idleTimeout: 120000
  connectionParams: {}
liquibase:
  enabled: true
  syncOnly: false
  user: ''
  role: ''
  replicationRole: ''
  resources: {}
members:
- businessUnit: ''
  applicationMember: ''
  memberSign: ''
  liquibase:
    role: ''
    replicationRole: ''
  datasource:
    globalSchema: false
    host: ''
    port: ''
    dbName: ''
    user: ''
    password: ''
kafka:
  readinessProbeEnabled: true
  user: ''
  servers: ''
  saslMechanism: PLAIN
  securityProtocol: SASL_SSL
  autoOffsetReset: earliest
  maxPollInterval: 300000
  trxTimeout: 60000
  sslEndpointIdentAlg: HTTPS
  schemaRegistry:
    credSource: USER_INFO
    user: ''
    url: ''
  topics:
    personstructure:
      name: hr.vestigo.hp.personstructure
      consumerGroup: hr.vestigo.hp.personstructure
    limitdef:
      name: hr.vestigo.hp.limitdef
      consumerGroup: hr.vestigo.hp.limitdef
    authprocgroupfinctrllim:
      name: hr.vestigo.hp.authprocgroupfinctrllim
      consumerGroup: hr.vestigo.hp.authprocgroupfinctrllim
    authprocgroupitem:
      name: hr.vestigo.hp.authprocgroupitem
      consumerGroup: hr.vestigo.hp.authprocgroupitem
    partnerbankinterface10s:
      name: hr.vestigo.hp.partnerbankinterface10s
    risklimitdef:
      name: hr.vestigo.hp.risklimitdef
      consumerGroup: hr.vestigo.hp.risklimitdef
    expiredauth:
      name: hr.vestigo.hp.expiredauth
      consumerGroup: hr.vestigo.hp.expiredauth
    matchedauth:
      name: hr.vestigo.hp.matchedauth
      consumerGroup: hr.vestigo.hp.matchedauth
    parameterization:
      name: hr.vestigo.hp.parameterization
      authptragrmtlimalc:
        consumerGroup: hr.vestigo.hp.authptragrmtlimalc.parameterization.alc
      authptragrmtparamalc:
        consumerGroup: hr.vestigo.hp.authptragrmtparamalc.parameterization.alc
      finctrllimtypealc:
        consumerGroup: hr.vestigo.hp.finctrllimtypealc.parameterization.alc
      currency:
        consumerGroup: hr.vestigo.hp.currency.parameterization.alc
      country:
        consumerGroup: hr.vestigo.hp.country.parameterization.alc
    timeoutedauth:
      name: hr.vestigo.hp.timeoutedauth
      consumerGroup: hr.vestigo.hp.timeoutedauth
    authlog:
      name: hr.vestigo.hp.authlog
      consumerGroup: hr.vestigo.hp.authlog
oauth2:
  enabled: false
  resourceUri: ''
  authorizationPrefix: ''
request:
  sanitization:
    enabled: true
response:
  encoding:
    enabled: false
partnerBankServiceUrl: https://partner-bank-interface:8443
appWarmup:
  serviceWarmupLocalScheduleEnabled: true
  serviceWarmupCronSchedule: 0 * * * * *
  serviceWarmupRestEnabled: true
  serviceWarmupRestUrl: https://localhost:8443
timezone: ''
secret:
  decryptionKey: ''
  datasourcePassword: ''
  kafkaPassword: ''
  kafkaSchemaRegistryPassword: ''
  liquibasePassword: ''
  trustStorePassword: ''
  keyStorePassword: ''
logger:
  level:
    kafka: DEBUG
    rest: DEBUG
    database: DEBUG
    businessLogic: DEBUG
    general: DEBUG
    health: DEBUG
  logToFile: false
  rollingFileAppender: false
  logDir: /var/log/app
  logDirMount:
    enabled: false
  microserviceTag: ''
healthStatusDownReturnCode: '418'
javaOpts: -Xms256M -Xmx256M
springActiveProfile: prod
podAnnotations: {}
deploymentAnnotations: {}
serviceAnnotations: {}
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
securityContext: {}
service:
  enabled: true
  type: ClusterIP
  port: 8443
  nodePort: ''
  clusterIP: ''
  loadBalancerIP: ''
  loadBalancerSourceRanges: []
  annotations: {}
  labels: {}
ingress:
  enabled: false
  className: ''
  annotations: {}
  hosts: []
  tls: []
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 50m
    memory: 256Mi
initContainers: []
nodeSelector: {}
tolerations: []
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/arch
          operator: In
          values:
          - amd64
        - key: kubernetes.io/os
          operator: In
          values:
          - linux
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: app
            operator: In
            values:
            - auth-limit-control
        topologyKey: kubernetes.io/hostname
deployment:
  replicaCount: 1
  annotations: {}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 60
  terminationGracePeriodSeconds: 60
  restartPolicy: Always
  readinessProbe:
    initialDelaySeconds: 10
    periodSeconds: 60
    timeoutSeconds: 10
    successThreshold: 1
    failureThreshold: 2
    httpGet:
      path: /health/readiness
      port: http
      scheme: HTTPS
  livenessProbe:
    initialDelaySeconds: 60
    periodSeconds: 60
    timeoutSeconds: 10
    failureThreshold: 3
    httpGet:
      path: /health/liveness
      port: http
      scheme: HTTPS
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
mountServerCertFromSecret:
  enabled: false
  secretName: ''
  certPath: ''
  keyPath: ''
mountKeyStoreFromSecret:
  enabled: false
  secretName: ''
  keyStoreName: ''
  keyStoreType: JKS
mountTrustStoreFromSecret:
  enabled: false
  secretName: ''
  trustStoreName: ''
  trustStoreType: JKS
mountCaFromSecret:
  enabled: false
  secretName: ''
customVolumes: []
customMounts: []
customEnv: []
