nameOverride: ''
image:
  registry: docker.io
  pullPolicy: IfNotPresent
  app:
    registry: null
    imageLocation: null
    tag: ''
    pullPolicy: null
  liquibase:
    registry: null
    imageLocation: null
    tag: 1.87.0
    pullPolicy: null
imagePullSecrets: []
env:
  type: ''
  label: ''
datasource:
  host: ''
  port: ''
  dbName: ''
  user: ''
  globalSchemaPrefix: wo
  connTimeout: 60000
  maxPoolSize: 2
  minIdle: 0
  connectionParams: {}
liquibase:
  enabled: false
  syncOnly: false
  user: ''
  role: ''
  replicationRole: ''
  resources: {}
members:
- businessUnit: ''
  applicationMember: ''
  memberSign: ''
  deliveryChannel: ''
  branchCode: ''
  moduleName: ''
  liquibase:
    role: ''
    replicationRole: ''
  datasource:
    globalSchema: false
    host: ''
    port: ''
    dbName: ''
    user: ''
    password: ''
    connTimeout: ''
    maxPoolSize: ''
    minIdle: 0
kafka:
  user: ''
  servers: ''
  saslMechanism: PLAIN
  securityProtocol: SASL_SSL
  schemaRegistry:
    credSource: USER_INFO
    user: ''
    url: ''
  topics:
    paymentOriginalMessage:
      name: gcp.ipt1.hp.evt.paymentOriginalMessage
      consumerGroup: gcp.ipt1.hp.evt.sirspec1.paymentoriginalmessage
    paymentOrderFlow:
      name: gcp.ipt1.hp.evt.paymentorderflow
      consumerGroup: gcp.ipt1.hp.evt.sirspec1.paymentorderflow
    paymentOrderUpdate:
      name: gcp.ipt1.hp.evt.paymentorderupdate
    paymentOrderChecksResult:
      name: gcp.ipt1.hp.evt.paymentorderchecksresult
    ecsSpecificChecks:
      name: gcp.ipt1.hp.evt.ecsspecificchecks
      consumerGroup: gcp.ipt1.hp.evt.sirspec.ecsspecificchecks
    paymentOrderEventFlow:
      name: gcp.ipt1.hp.evt.paymentordereventflow
      consumerGroup: gcp.ipt1.hp.evt.sirspec.paymentordereventflow
    personStructureInitial:
      name: hr.vestigo.hp.perstrucinitial
    parameterization:
      name: gcp.ipt1.hp.evt.param
      consumerGroup: gcp.ipt1.hp.evt.sirspec.ecsspecificparam
    customerAccount:
      name: gcp.ipt1.hp.evt.sirspec.customer.account
      consumerGroup: gcp.ipt1.hp.evt.sirspec.customer.account
    cusaccJrr:
      name: gcp.ipt1.hp.evt.cusacc.jrr
      consumerGroup: gcp.ipt1.hp.evt.sirspec.cusacc.jrr
    cusaccPayor:
      name: gcp.ipt1.hp.evt.cusacc.payor
      consumerGroup: gcp.ipt1.hp.evt.sirspec.cusacc.payor
    userCodeValue:
      name: gcp.ipt1.hp.evt.sirspec.user.code.value
      consumerGroup: gcp.ipt1.hp.evt.sirspec.user.code.value
    cusaccCurrency:
      name: gcp.ipt1.hp.evt.cusacc.currency
      consumerGroup: gcp.ipt1.hp.evt.sirspec.cusacc.currency
    customer:
      name: gcp.ipt1.hp.evt.sirspec.customer
      consumerGroup: gcp.ipt1.hp.evt.sirspec.customer
external:
  core:
    system:
      member:
        sign:
          default: RB
sirius:
  service:
    url: ''
  rest:
    response:
      logging:
        all: false
  specific:
    cache:
      refresh:
        rate: 86400
keycloak:
  enabled: false
  realm: Holistic-Pay
  serverUrl: ''
  resource: aux
request:
  sanitization:
    enabled: true
response:
  encoding:
    enabled: false
timezone: ''
secret:
  decryptionKey: ''
  kafkaPassword: ''
  kafkaSchemaRegistryPassword: ''
  liquibasePassword: ''
  trustStorePassword: ''
  keyStorePassword: ''
  datasourcePassword: ''
logger:
  logToFile: false
  rollingFileAppender: false
  logDir: /var/log/app
  logDirMount:
    enabled: false
healthStatusDownReturnCode: '418'
javaOpts: -Xms256M -Xmx256M
springActiveProfile: prod
podAnnotations: {}
deploymentAnnotations: {}
serviceAnnotations: {}
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
securityContext: {}
service:
  enabled: true
  type: ClusterIP
  port: 8443
  nodePort: ''
  clusterIP: ''
  loadBalancerIP: ''
  loadBalancerSourceRanges: []
  annotations: {}
  labels: {}
ingress:
  enabled: false
  className: ''
  annotations: {}
  hosts: []
  tls: []
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 50m
    memory: 256Mi
initContainers: []
nodeSelector: {}
tolerations: []
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/arch
          operator: In
          values:
          - amd64
        - key: kubernetes.io/os
          operator: In
          values:
          - linux
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: app
            operator: In
            values:
            - payment-order
        topologyKey: kubernetes.io/hostname
riskLimits:
  enabled: true
deployment:
  replicaCount: 1
  annotations: {}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 60
  terminationGracePeriodSeconds: 60
  restartPolicy: Always
  readinessProbe:
    initialDelaySeconds: 10
    periodSeconds: 60
    timeoutSeconds: 181
    successThreshold: 1
    failureThreshold: 2
    httpGet:
      path: /health/readiness
      port: http
      scheme: HTTPS
  livenessProbe:
    initialDelaySeconds: 60
    periodSeconds: 60
    timeoutSeconds: 10
    failureThreshold: 3
    httpGet:
      path: /health/liveness
      port: http
      scheme: HTTPS
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
mountServerCertFromSecret:
  enabled: false
  secretName: ''
  certPath: ''
  keyPath: ''
mountKeyStoreFromSecret:
  enabled: false
  secretName: ''
  keyStoreName: ''
  keyStoreType: JKS
mountTrustStoreFromSecret:
  enabled: false
  secretName: ''
  trustStoreName: ''
  trustStoreType: JKS
mountCaFromSecret:
  enabled: false
  secretName: ''
customVolumes: []
customMounts: []
customEnv: []
