{{- if and (not .Values.secret.existingSecret) (not (eq "NONE" .Values.secret.encryptionAlgorithm)) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
type: Opaque
data:
  password.conf: |-
    {{- include "data-replication-ms.passwords" . | nindent 4 }}
{{- end -}}
