nameOverride: ''
image:
  registry: docker.io
  pullPolicy: IfNotPresent
  app:
    registry: null
    imageLocation: null
    tag: ''
    pullPolicy: null
  liquibase:
    registry: null
    imageLocation: null
    tag: 4.61.0
    pullPolicy: null
imagePullSecrets: []
env:
  type: ''
  label: ''
datasource:
  host: ''
  port: ''
  dbName: ''
  user: ''
  globalSchemaPrefix: wo
  connTimeout: 60000
  maxPoolSize: 2
  minIdle: 0
  idleTimeout: 120000
  connectionParams: {}
liquibase:
  enabled: true
  syncOnly: false
  user: ''
  role: ''
  replicationRole: ''
  resources: {}
members:
- businessUnit: ''
  applicationMember: ''
  memberSign: ''
  liquibase:
    role: ''
    replicationRole: ''
  datasource:
    globalSchema: false
    host: ''
    port: ''
    dbName: ''
    user: ''
    password: ''
kafka:
  user: ''
  servers: ''
  saslMechanism: PLAIN
  securityProtocol: SASL_SSL
  autoOffsetReset: earliest
  maxPollInterval: 300000
  trxTimeout: 60000
  sslEndpointIdentAlg: HTTPS
  schemaRegistry:
    credSource: USER_INFO
    user: ''
    url: ''
  consumer:
    limithistory:
      enabled: false
    balannounce:
      enabled: false
  topics:
    risklimitcontract:
      name: hr.vestigo.hp.risklimitcontract
      consumerGroup: hr.vestigo.hp.risklimitcontract
    risklimitdef:
      name: hr.vestigo.hp.risklimitdef
    personstructure:
      name: hr.vestigo.hp.personstructure
      consumerGroup: hr.vestigo.hp.personstructure
    perstrucinitial:
      name: hr.vestigo.hp.perstrucinitial
      consumerGroup: hr.vestigo.hp.perstrucinitial
    personstructurechecks:
      name: ''
      consumerGroup: ''
    personstructurechecksresult:
      name: ''
    parameterization:
      name: hr.vestigo.hp.parameterization
      consumerGroup: hr.vestigo.hp.parameterization.perstr
    limithistory:
      name: hr.vestigo.hp.limithistory.01
      consumerGroup: hr.vestigo.hp.limithistory
    accountlimitinitial:
      name: hr.vestigo.hp.accountlimitinitial.01
      consumerGroup: hr.vestigo.hp.accountlimitinitial
    ovedraftlimit:
      name: hr.vestigo.hp.ovedraftLimit.01
    personstructureeffect:
      name: hr.vestigo.hp.personstructureeffect.01
external:
  core:
    system:
      member:
        sign:
          default: RB
url:
  riskLimitAlcUrl: https://auth-limit-control:8443
cms:
  moduleName: BOS
  deliveryChannel: DCC
  userId: HPTECH001
ms:
  sequence: perstr_seq
  appModuleName: PERSTR
riskLimits:
  enabled: false
status:
  management:
    enabled: false
  auditLog:
    enabled: false
personStructureChecks:
  enabled: false
  cache:
    refresh:
      rate: 86400
paramWarmup:
  enabled: false
personStructure:
  produce: true
  completenessFlagAlgorithm: DEBIT_GATEWAY
personStructureEffect:
  produce: false
personStructureInitial:
  searchAlgorithm: account
initial:
  account:
    lifecycleCheck: false
grpc:
  server:
    enabled: false
    port: 9090
    security:
      enabled: false
      certificate: null
      key: null
oauth2:
  enabled: false
  resourceUri: ''
  authorizationPrefix: ''
request:
  sanitization:
    enabled: true
response:
  encoding:
    enabled: false
timezone: ''
secret:
  decryptionKey: ''
  datasourcePassword: ''
  kafkaPassword: ''
  kafkaSchemaRegistryPassword: ''
  liquibasePassword: ''
  trustStorePassword: ''
  keyStorePassword: ''
logger:
  format: STRING
  level:
    kafka: INFO
    rest: INFO
    database: ERROR
    databaseSql: DEBUG
    databaseBind: TRACE
    databaseExtract: TRACE
    databaseSlowQuery: INFO
    businessLogic: INFO
    general: INFO
    health: INFO
  logToFile: false
  rollingFileAppender: false
  logDir: /var/log/app
  logDirMount:
    enabled: false
  microserviceTag: PERSTR
  maskSensitive: false
healthStatusDownReturnCode: '418'
javaOpts: -Xms256M -Xmx256M
springActiveProfile: prod
podAnnotations: {}
deploymentAnnotations: {}
serviceAnnotations: {}
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
securityContext: {}
service:
  enabled: true
  type: ClusterIP
  port: 8443
  nodePort: ''
  clusterIP: ''
  loadBalancerIP: ''
  loadBalancerSourceRanges: []
  annotations: {}
  labels: {}
ingress:
  enabled: false
  className: ''
  annotations: {}
  hosts: []
  tls: []
resources:
  limits:
    cpu: 500m
    memory: 768Mi
  requests:
    cpu: 50m
    memory: 768Mi
initContainers: []
nodeSelector: {}
tolerations: []
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/arch
          operator: In
          values:
          - amd64
        - key: kubernetes.io/os
          operator: In
          values:
          - linux
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: app
            operator: In
            values:
            - person-structure
        topologyKey: kubernetes.io/hostname
deployment:
  replicaCount: 1
  annotations: {}
  labels: {}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  minReadySeconds: 60
  terminationGracePeriodSeconds: 60
  restartPolicy: Always
  readinessProbe:
    initialDelaySeconds: 10
    periodSeconds: 60
    timeoutSeconds: 10
    successThreshold: 1
    failureThreshold: 2
    httpGet:
      path: /health/readiness
      port: http
      scheme: HTTPS
  livenessProbe:
    initialDelaySeconds: 60
    periodSeconds: 60
    timeoutSeconds: 10
    failureThreshold: 3
    httpGet:
      path: /health/liveness
      port: http
      scheme: HTTPS
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
mountServerCertFromSecret:
  enabled: false
  secretName: ''
  certPath: ''
  keyPath: ''
mountKeyStoreFromSecret:
  enabled: false
  secretName: ''
  keyStoreName: ''
  keyStoreType: JKS
mountTrustStoreFromSecret:
  enabled: false
  secretName: ''
  trustStoreName: ''
  trustStoreType: JKS
mountCaFromSecret:
  enabled: false
  secretName: ''
customVolumes: []
customMounts: []
customEnv: []
tracing:
  samplingProbability: 1.0
  otlpEndpoint: http://tempo.monitor:4318/v1/traces
